$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
@import "neat/app/assets/stylesheets/_neat.scss";
// endbower





/*****************************************************************************
  Base Styles
******************************************************************************/
* {
  box-sizing: border-box;
}
 .main{
  @include outer-container;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #E2F0D6;
}









/*****************************************************************************
  Layout Styles
******************************************************************************/
.menu {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  height: auto;
  text-align: center;
  background-color: #10222B;
  @include outer-container;
  li {
    margin-top: 20px;
    @include span-columns(3);
    @include omega(4n);
    text-align: center;
    a {
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
      color: #F6FFE0;
    }
  }
}
.book_container {
  @include outer-container;
  background-color: #BDD684;
  #book {
    margin-top: 20px;
    height: 500px;
    @include span-columns(4);
    margin-right: 1.5%;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    .image {
      width: 60%;
      height: 60%;
    }
  }
}
.copyright {
  clear: both;
}





/*****************************************************************************
  Module Styles
******************************************************************************/
.list_title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.search {
  position: absolute;
  left: 40px;
}
.title {
  text-align: center;
    font-family: 'Calligraffitti', cursive;
}
.amazon_link {
  a {
    text-decoration: none;
  }
}
.review_link {
  a {
    text-decoration: none;
  }
}
.mylist {
  clear: both;
}
.copyright {
  font-family: 'Open Sans', sans-serif;
}

