$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
@import "neat/app/assets/stylesheets/_neat.scss";
// endbower





/*****************************************************************************
  Base Styles
******************************************************************************/
* {
  box-sizing: border-box;
}
 .main{
  @include outer-container;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #E2F0D6;
}









/*****************************************************************************
  Layout Styles
******************************************************************************/
.menu {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  height: auto;
  text-align: center;
  background-color: #10222B;
  li {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #E2F0D6;

    a {
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
      color: #F6FFE0;
    }
    a:hover {
      color: blue;
    }
  }
}
.book_container {
  @include outer-container;
  background-color: #BDD684;
  #book {
    height: 500px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    .image {
      width: 60%;
      height: 60%;
    }
  }
}
.mylist {
  clear: both;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 400px) {
  #book {
    width: 100%;
  }

}
@media screen and (min-width: 400px) {
  .menu {
    background-color: #10222B;
    li {
      width: 15%;
      margin-right: 1.5%;
      display: inline-block;
      border: none;
    }
  }
  #book {
    @include span-columns(6);
    margin-right: 1%;
  }
  .mylist {
    .listform {
      margin-left: 20%;
    }
    p {
      margin-left: 20%;
    }
  }
}
@media screen and (min-width: 600px) {
  #book {
    @include span-columns(4);
    margin-right: 1.5%;
  }
  .mylist {
    .listform {
      margin-left: 40%;
    }
    p {
      margin-left: 40%;
    }
  }
}
.copyright {
  clear: both;
}
.welcome {
  width: 100%;
  height: 200px;
  text-align: center;
  padding-top: 45px;
  h3 {
    text-align: center;
    font-family: 'Coming Soon', cursive;
  }
  h4 {
    text-align: center;
    font-family: 'Coming Soon', cursive;
  }
}




/*****************************************************************************
  Module Styles
******************************************************************************/
.list_title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.searchBar {
  margin-top: 10px;
  margin-left: 20%;
  margin-bottom: 10px;
  .bar {
    font-family: 'Open Sans', sans-serif;
    .search {
      border-radius: 5px;
    }
    .search:focus {
      background-color: #3498DB;
    }
  }
}
.title {
  text-align: center;
    font-family: 'Calligraffitti', cursive;
}
.amazon_link {
  a {
    text-decoration: none;
  }
}
.review_link {
  a {
    text-decoration: none;
  }
}
.copyright {
  font-family: 'Open Sans', sans-serif;
}
.mainList {
  #book {
    background-color: #BDD684;
  }
}
.viewerList {
  background-color: #95AB63;
}
.amazon_link {
  margin-top: 5px;
}
.list2 {
  @include span-columns(5);
  margin-left: 20px;
  background-color: #95AB63;
  font-family: 'Coming Soon', cursive;
  margin-right: 0;
  float: left;
}
.listTitle {
  text-align: center;
  clear: both;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}