<p>This is the culture view.</p>
<h2 class="list_title">{{booklist3.results.display_name}}</h2>
<input class="search" type="text" ng-model="nameFilter" placeholder="Search..."/>
<div id="book" ng-repeat="book in booklist3.results.books | filter: nameFilter">
  <p>{{book.rank}}</p>
  <p>{{book.title}}</p>
  <p>{{book.author}}</p>
  <img class="image" ng-src="{{book.book_image}}">
  <p class="amazon_link"><a href="{{book.amazon_product_url}}">Amazon Link</a></p>
  <p class="review_link" ng-show="book.book_review_link"><a href="{{book.book_review_link}}">Book Review</a></p>
</div>
<h4 class="copyright">{{booklist3.copyright}}</h4>